FLUX_DB_HOST=127.0.0.1
FLUX_DB_PORT=5432
FLUX_DB_NAME=flux
FLUX_DB_USER=flux
FLUX_DB_PASSWORD=

FLUX_AMQP_ENABLED=true
FLUX_AMQP_HOST=127.0.0.1
FLUX_AMQP_PORT=5672
FLUX_AMQP_HEARTBEAT=60

FLUX_AMQP_TLS_ENABLED=false
FLUX_AMQP_TLS_HOST=0.0.0.0
FLUX_AMQP_TLS_PORT=5671
FLUX_AMQP_TLS_CERT=
FLUX_AMQP_TLS_KEY=
FLUX_AMQP_TLS_CA=

FLUX_DIAGNOSTICS_HOST=127.0.0.1
FLUX_DIAGNOSTICS_PORT=5673

FLUX_MAX_CONNECTIONS=1000
FLUX_MAX_CHANNELS_PER_CONNECTION=256
FLUX_MAX_CONSUMERS_PER_CONNECTION=256
FLUX_MAX_CONSUMERS_PER_CHANNEL=64
FLUX_AMQP_MAX_FRAME_SIZE=1048576
FLUX_MAX_MESSAGE_SIZE=16777216
FLUX_MAX_QUEUES_PER_VHOST=10000
FLUX_MAX_QUEUE_DEPTH=1000000

FLUX_SHUTDOWN_DRAIN_TIMEOUT=30
